.container {
  position:absolute;
  left:0; 
  right:0;
  top:0; 
  bottom:0;
  background-color: #666;
  text-align: center;
}

.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text {
  color:white;
  padding-top: 50vh;
  text-align: center;
  text-transform: uppercase;
  font-family: Futura;
  font-size: 6.0vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
